<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Quiz</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <a href="/quiz">
            <img src="/img/logo.png" alt="Trivia Logo" class="logo">
            <h1>Trivia Time!</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/quiz">Quiz</a></li>
                <li><a href="/questions">Questions</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>
            <a href="https://www.flaticon.com/free-icons/project" title="project icons">
                Project icons created by Ylivdesign - Flaticon
            </a>
        </p>
    </footer>
</body>
</html>
